@use 'variables'

@mixin display-flex
  display: flex
  justify-content: center
  align-items: center


// buttons

            // btn-box
@mixin btn-box
  display: flex
  height: 50px
  width: 120px
  justify-content: center
  align-items: center

@mixin btn-box-after
  text-shadow: 10 10px 10px white
  background-color: transparent
  border: 3px solid rgb(0, 255, 213)
  transition: 0.4 ease
  position: absolute
  display: block

@mixin btn-box-hover
  text-shadow: -1px -1px 0px #00ffc8, 1px 1px 0px rgb(0, 255, 213)
  background-color: transparent
  border: 1px solid rgb(0, 255, 213)
  box-shadow: 0px 10px 10px -10px rgb(0, 255, 213)
  transition: 0.4 ease
  gap: 4px
        


// Mixins elements

@mixin pseudo-elements
  display: block
  position: absolute
  content: ''
    
// Texts

@mixin titles
  font-size: variables.$font-size-large
  color: variables.$primary-color
  text-align: center
  align-items: center

@mixin paragraph
  color: variables.$text-color
  font-size: variables.$font-size-small
