@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;400;500&display=swap')


//colors
$background-color: #fff
$primary-color: #00ffc8
$secondary-color: #3D3D3D
$text-color: #717171
$shadow-color: #00aaff
$border-color: rgba(61, 61, 61, 0.212)
$line-gradient: linear-gradient(90deg, #8257E6 0%, #A40EE4 92.32%)

//fonts
$ff: 'IBM Plex Sans', sans-serif
$font-size-title: 3.5rem
$font-size-large: 2.5rem
$font-size-medium: 1.3rem
$font-size-small: 1.1rem

// Espaçamentos
$spacing-unit: 30px
$height-spacing: 50px
